# Virtual Environment
venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Spark temporary files
metastore_db/
spark-warehouse/

# OS files
.DS_Store
Thumbs.db

# VS Code settings
.vscode/

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# Hadoop / Spark temp files
*.crc

# Logs
*.log